[tool.poetry]
name = "django-sb-simple-migrations"
version = "0.3.0"
description = "Django migrations without unnecesary change alert triggers."
authors = [
  "SoftButterfly Development Team <dev@softbutterfly.io>",
  "zodiacfireworks <martin.vuelta@gmail.com>"
]
license = "MIT License"
readme = "README.md"
homepage = "https://github.com/softbutterfly/django-sb-simple-migrations"
repository = "https://github.com/softbutterfly/django-sb-simple-migrations"
documentation = "https://github.com/softbutterfly/django-sb-simple-migrations/wiki"
keywords = ["Softbutterfly", "Django", "Migrations"]
classifiers = [
  "Development Status :: 5 - Production/Stable",
  "Intended Audience :: Developers",
  "License :: OSI Approved :: MIT License",
  "Natural Language :: English",
  "Programming Language :: Python :: 3.6",
  "Programming Language :: Python :: 3.7",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Topic :: Software Development :: Libraries :: Python Modules",
]
packages = [
    { include = "django_sb_simple_migrations" }
]
include = [
  "LICENSE.txt",
  "CHANGELOG.md",
]

[tool.poetry.urls]
"Download" = "https://github.com/softbutterfly/django-sb-simple-migrations/archive/v0.3.0.tar.gz"
"Bug Tracker" = "https://github.com/softbutterfly/django-sb-simple-migrations/issues"


[tool.poetry.dependencies]
python = ">= 3.6.2, < 4.0.0"
Django = "< 4.0.0"

[tool.poetry.dev-dependencies]
autopep8 = "^1.5.7"
black = "^21.5b2"
codecov = "^2.1.11"
coverage = "^5.5"
flake8 = "^3.9.2"
flake8-black = "^0.2.1"
jupyterlab = "^3.0.16"
mypy = "^0.812"
pre-commit = "^2.13.0"
pydocstyle = "^6.1.1"
pylint = "^2.8.3"
pylint-django = "^2.4.4"
pytest = "^6.2.4"
pytest-cov = "^2.12.1"
pytest-vcr = "^1.0.2"
python-dotenv = "^0.17.1"
tox = "^3.23.1"
twine = "^3.4.1"
tbump = "^6.3.2"

[tool.black]
target_version = ['py39']
include = '\.pyi?$'
exclude = '''
/(\.git/
  |\.eggs
  |\.hg
  |__pycache__
  |\.cache
  |\.ipynb_checkpoints
  |\.mypy_cache
  |\.pytest_cache
  |\.tox
  |\.venv
  |_build
  |buck-out
  |build
  |dist
  |legacy
  |example
)/
'''

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
