asgiref==3.7.2 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
backports-zoneinfo==0.2.1 ; python_full_version >= "3.8.1" and python_version < "3.9"
django==4.2.4 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
sqlparse==0.4.4 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
typing-extensions==4.7.1 ; python_full_version >= "3.8.1" and python_version < "3.11"
tzdata==2023.3 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0" and sys_platform == "win32"
