asgiref==3.6.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
django==3.2.18 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
pytz==2023.3 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
sqlparse==0.4.4 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
